.modal {
  [data-theme='dark'] & {
    * {
      color: var(--dark-text);
    }

    div {
      background-color: var(--dark-secondary);

      div {
        button {
          background-color: var(--dark-primary);
          border: 1px solid var(--dark-primary);
          color: var(--dark-text);
          transition: all 0.2s ease-in-out;

          &:hover {
            background-color: var(--dark-secondary-2);
            border: 1px solid var(--dark-secondary-2);
            color: var(--light-text);
          }
        }
      }
    }

    .formItem {
      * {
        color: var(--dark-text);
      }
    }

    .formInput {
      background-color: var(--dark-primary);
    }
  }

  [data-theme='light'] & {
    * {
      color: var(--light-text);
    }

    div {
      background-color: var(--light-secondary);

      div {
        button {
          background-color: var(--light-primary);
          border: 1px solid var(--light-primary);
          color: var(--light-text);
          transition: all 0.2s ease-in-out;

          &:hover {
            background-color: var(--light-secondary-2);
            border: 1px solid var(--light-secondary-2);
            color: var(--dark-text);
          }
        }
      }
    }

    .formItem {
      * {
        color: var(--light-text);
      }
    }

    .formInput {
      background-color: var(--light-primary);
    }
  }

  .badge {
    margin-top: 5px;

    [data-theme='dark'] & {
      * {
        background-color: var(--dark-primary);
      }
    }

    [data-theme='light'] & {
      * {
        background-color: var(--light-primary);
      }
    }
  }

  .contactDetails {

    .contactSection {
      display: flex;

      .contactItem {
        font-size: 1rem;
      }

      .contactAction {
        font-size: 1.2rem;
        margin: 0 0.5rem;
        transition: all 0.2s ease-in-out;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}